<div class="col col1of1">
  <h2 class="output"> </h2>
</div>

<div class="col col1of3">
  <a class="key" ref="/" data-value="1">1</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="2">2</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="3">3</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="4">4</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="5">5</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="6">6</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="7">7</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="8">8</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="9">9</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value=".">.</a>
</div>
<div class="col col1of3">
  <a class="key" ref="/" data-value="0">0</a>
</div>
<div class="col col1of3">
  <a class="del" ref="/" data-value="x">x</a>
</div>
<div class="col col1of3 pre1of3">
  <a class="go" ref="/" data-value="go">go</a>
</div>