html {
  background-color: $light-blue;
}


//
.other {
  a {
    width: 100%;
    height: 50vh;
    display: inline-block;
  }
}

.self {
  a {
    width: 100%;
    height: 50vh;
    display: inline-block;
  }
}


main {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 26vh;

  h1 {
    text-align: right;
    &:before {
      content: "$";
      float: left;
    }
  }
}

// Reusable Layout Classes
.panel {
  width: 100%;
  padding: 2em 0;
  &.off-white {
    background-color: $off-white;
  }
  &.cyan {
    background-color: $cyan;
    color: $white;
  }
}

.frame {
  min-height: 100vh;
  width: 100vw;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  display: block;
  text-align: center;
  width: 100%;
}

img {
  max-width: 100%;
}
