.keyboard {
  a {
    @include p18;
    height: 1em;
    text-align: center;
  }
  .col {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .output {
    text-align: right;
    padding: 0 12.5%;
  }
}