---
title: App Framework
---
<div class="frame">
  <aside class="other">
    <a href="/" data-direction="active-top" class="toggle" id="other"></a>
  </aside>
  <main>
    <h1>350.00</h1>
  </main>
  <aside class="self">
    <a href="/" data-direction="active-bottom" class="toggle" id="self"></a>
  </aside>
</div>
