.opening_view {
  @include box-sizing(border-box);
  position: absolute;
  margin-top: 0;
  padding-left: 10vw;
  padding-right: 10vw;
}

header {
  margin-top: 10vh;
}
.button {
  margin-top: 20vh;
}